:root {
  --primary-color: #ff00ee;
  --secondary-color: #e7fa59f1;
  --third-color: rgb(111, 0, 255);
  --box-shadow: 1px 5px 10px #fcf7f7c4;
  --heading-font: "Sacramento", cursive;
  --secondary-font: "DM Serif Display", serif;
  --third-font: "Gayathri", sans-serif;
}
body {
  background: linear-gradient(to right, #343532, #0d0d0d);
  justify-content: center;
  align-items: center;
}
/*styling homepage*/
.highlight-name {
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.container.intro {
  text-align: center; /* Center align the text */
}

.container.intro h1,
.container.intro h2,
.container.intro h3 {
  /* Adjust as needed for the desired size */
  margin-bottom: 15px; /* Add some space between headings */
}

.hello {
  font-family: var(--secondary-font);
  font-size: 5rem;
  color: var(--primary-color);
  word-spacing: 10px;
}
.name {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  word-spacing: 6px;
  font-size: 6rem;
}
.highlight {
  font-family: var(--secondary-font);
  font-size: 1.7em;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
}
.second-highlight {
  font-size: 1em;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
}
.third-highlight {
  font-family: var(--secondary-font);
  font-size: 1.7em;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
}

h3 {
  font-family: var(--heading-font);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.social-icons {
  color: var(--secondary-color);
  font-size: 30px;
  padding-right: 10px;
  font-size: 28px;
  display: block;
}

.icon-link {
  color: #a1a1a1;
  margin: 10px 10px;
}
.icons:hover {
  font-size: 40px;
  color: white;
}

.homepage-link {
  color: #aaff00;
  text-align: center;
  display: block;
}
.about {
  font-family: var(--heading-font);
  font-size: 1em;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.profilepic2 {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
.profilepic2:hover {
  filter: contrast(100%);
  transform: scale(1.2);
  box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 100px var(--secondary-color),
    0 0 200px var(--secondary-color);
}
.img-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.skills {
  font-family: var(--secondary-font);
  font-size: 1em;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.skills-img {
  width: 30px;
  margin: 5px;
}

p {
  display: flex;
  margin: 30px 0;
  line-height: 1.7;
  font-size: 1.2rem;
  color: #fcf7f7c4;
  line-height: 2;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: #374df9;
}
.mail {
  text-align: center;
}
.contact {
  margin-top: 200px;
}
.contact-line {
  font-family: var(--heading-font);
  font-size: 1em;
  margin-top: 15px;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  animation: textclip 2s linear infinite;
  cursor: grab;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.contact-icon {
  color: var(--secondary-color);
  font-size: 30px;
  padding-right: 10px;
  font-size: 28px;
  display: block;
}
.icon {
  color: #a1a1a1;
  margin: 10px 10px;
}
.myprojects {
  text-align: center;
  background: linear-gradient(45deg, #00ffcc, #589fef, #8d45f9);
  background-clip: text;
  -webkit-background-clip: text;
  animation: textclip 2s linear infinite;
  cursor: grab;
  color: transparent;
  font-size: 5rem;
  padding: 70px;
  font-family: var(--heading-font);
}
.project-img {
  max-width: 150%;
}
.card-title {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}
.card-text {
  color: #0d0d0d;
  text-align: center;
}
.project-img {
  height: 450px;
  width: 800px;
  border-radius: 10px;
}
.project-img:hover {
  filter: contrast(100%);
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--third-color), 0 0 25px var(--third-color),
    0 0 50px var(--third-color), 0 0 100px var(--third-color),
    0 0 200px var(--third-color);
}
